.content-div {
    width: 100%;
    display: flex;
}

.content {
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 80vh;
    min-width: 0;
}

app-sidenav {
    width: 10vw;
    min-width: 120px
}

@media screen and (max-width: 575px) {
    app-sidenav {
        display: none;
    }

    .content {
        width: 100%;
    }
}

.mat-mdc-tooltip.tooltip {
    color:red !important;
}